# please add general patterns to your global ignore list
# see https://github.com/github/gitignore#readme
.DS_STORE
*.swp
*.rbc
*.sass-cache
*.css
*.js
/pkg
/doc/api
/Gemfile.lock
/vendor/bundle/
/tmp
